@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap");
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 500;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  color: #061e37;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}
.title span {
  display: block;
  color: #b0bec5;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 14px;
}

.subtitle {
  color: #b0bec5;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 50px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign__btn {
  color: #ffffff;
  font-size: 12px;
  padding: 6px 20px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  background-color: transparent;
}
.sign__btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu__list {
  display: flex;
  align-items: center;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}
.menu__link {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.67;
  color: #ffffff;
  transition: all 0.3s ease;
}
.menu__link:hover {
  color: #061e37;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.logo__text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
  text-transform: uppercase;
}
.logo__text span {
  display: block;
  font-weight: 400;
  margin-bottom: 3px;
}

.button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: all 0.3s linear;
}
.button--white {
  color: #061e37;
  background-color: #ffffff;
}
.button--white:hover {
  color: #ffffff;
  background-color: #061e37;
}
.button--pearl {
  color: #ffffff;
  background-color: #061e37;
}
.button--pearl:hover {
  color: #061e37;
  background-color: #ffffff;
}
.button--green {
  color: #ffffff;
  background-color: #1de9b6;
}
.button--green:hover {
  color: #1de9b6;
  background-color: #ffffff;
}

.hero {
  background: linear-gradient(-53deg, rgba(0, 184, 212, 0.9) 0%, rgba(29, 233, 182, 0.9) 100%), url("../img/hero-bg.jpg") center/cover no-repeat;
  padding-top: 235px;
  padding-bottom: 185px;
}
.hero__inner {
  display: flex;
  justify-content: space-between;
}
.hero__content {
  max-width: 670px;
}
.hero__title {
  color: #ffffff;
  font-size: 55px;
  font-weight: 700;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 10px;
  max-width: 470px;
  letter-spacing: 1.53px;
}
.hero__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 32px;
}
.hero__buttons {
  display: flex;
  align-items: center;
}
.hero__btn:not(:last-child) {
  margin-right: 30px;
}
.hero__video {
  width: 600px;
  height: 320px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 1px solid #061e37;
}
.hero__preview {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.hero__video-btn {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #061e37;
  margin-bottom: 20px;
}
.hero__video-text {
  color: #061e37;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.hero__embed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url("../img/hero-video.jpg") center/cover no-repeat;
}

.easy {
  padding: 100px 0;
}
.easy__title {
  margin-bottom: 20px;
}
.easy__subtitle {
  max-width: 565px;
  margin: 0 auto 95px;
}
.easy__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 75px;
}
.easy__item {
  flex: 0 0 344px;
  text-align: center;
}
.easy__img {
  width: 70px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.easy__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top center;
     object-position: top center;
}
.easy__heading {
  color: #061e37;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.easy__text {
  color: #78909c;
  font-size: 15px;
  line-height: 20px;
}
.easy__btn {
  text-align: center;
}

.counts__row {
  display: flex;
}
.counts__item {
  flex: 0 0 25%;
  padding: 45px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counts__img {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 23px;
}
.counts__text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  text-align: left;
}
.counts__text span {
  margin-bottom: 5px;
  display: block;
}
.counts__item--anakiwa {
  background-color: #80d8ff;
}
.counts__item--anakiwa .counts__img {
  color: #80d8ff;
}
.counts__item--malibu {
  background-color: #82b1ff;
}
.counts__item--malibu .counts__img {
  color: #82b1ff;
}
.counts__item--heliotrope {
  background-color: #b388ff;
}
.counts__item--heliotrope .counts__img {
  color: #b388ff;
}
.counts__item--pink {
  background-color: #ea80fc;
}
.counts__item--pink .counts__img {
  color: #ea80fc;
}

.services {
  padding: 100px 0;
}
.services__container {
  max-width: 830px;
}
.services__title {
  margin-bottom: 25px;
}
.services__subtitle {
  max-width: 565px;
  margin: 0 auto 48px;
}
.services__item {
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.services__item:not(:last-child) {
  margin-bottom: 20px;
}
.services__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px;
}
.services__heading {
  color: #061e37;
  display: flex;
  align-items: center;
}
.services__icon {
  font-size: 20px;
  margin-right: 25px;
}
.services__name {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.services__btn {
  background-color: transparent;
}
.services__body {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s linear;
}
.services__body.active {
  max-height: 200px;
}
.services__content {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: flex-start;
}
.services__img {
  min-width: 250px;
  height: 155px;
  border-radius: 5px;
  overflow: hidden;
  flex-grow: 1;
}
.services__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.services__text {
  color: #061e37;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.45px;
  margin-left: 25px;
}
.services__text p:not(:last-child) {
  margin-bottom: 25px;
}

.testimonials {
  background: linear-gradient(-53deg, rgba(0, 184, 212, 0.95) 0%, rgba(29, 233, 182, 0.95) 100%), url("../img/testimonials-bg.jpg") center/cover no-repeat;
}
.testimonials__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials__content {
  padding: 160px 0 160px;
  max-width: 535px;
}
.testimonials__title {
  color: #ffffff;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 15px;
}
.testimonials__text {
  color: #ffffff;
  line-height: 25px;
  margin-bottom: 75px;
}
.testimonials-slider {
  position: relative;
}
.testimonials-slider__container {
  max-height: 450px;
  overflow: hidden;
}
.testimonials-slider__item {
  display: flex;
  align-items: center;
}
.testimonials-slider__img {
  margin-right: 50px;
}
.testimonials-slider__body {
  max-width: 650px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 30px;
}
.testimonials-slider__name {
  color: #061e37;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.testimonials-slider__text {
  color: #78909c;
  font-size: 15px;
  font-style: italic;
  line-height: 25px;
}

.testimonials-slider-next {
  position: absolute;
  z-index: 100;
  bottom: -50px;
  right: 313px;
  color: #ffffff;
  background-color: transparent;
  font-size: 45px;
}
.testimonials-slider-next span {
  font-size: 45px;
}

.testimonials-slider-prev {
  position: absolute;
  z-index: 100;
  top: -40px;
  right: 313px;
  color: #ffffff;
  background-color: transparent;
}
.testimonials-slider-prev span {
  font-size: 45px;
}

.footer {
  background-color: #061e37;
  padding: 100px 0;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.footer__nav-list {
  display: flex;
  align-items: center;
}
.footer__nav-item:not(:last-child) {
  margin-right: 50px;
}
.footer__nav-link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.footer__nav-link:hover {
  color: #999999;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__privacy a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 400;
  transition: all 0.3s ease;
}
.footer__privacy a:hover {
  text-decoration: underline;
}
.footer__privacy a:not(:last-child) {
  display: inline-flex;
  align-items: center;
  margin-right: 13px;
}
.footer__privacy a:not(:last-child)::after {
  content: "";
  display: inline-block;
  margin-left: 20px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
}
.footer__socials {
  display: flex;
  align-items: center;
}
.footer__link {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s linear;
}
.footer__link:not(:last-child) {
  margin-right: 16px;
}
.footer__link:hover {
  color: rgba(255, 255, 255, 0.6);
}