.button {
	display: inline-block;
	padding: 20px 40px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	transition: all 0.3s linear;

	&--white {
		color: #061e37;
		background-color: #ffffff;
		&:hover {
			color: #ffffff;
			background-color: #061e37;
		}
	}
	&--pearl {
		color: #ffffff;
		background-color: #061e37;
		&:hover {
			color: #061e37;
			background-color: #ffffff;
		}
	}
	&--green {
		color: #ffffff;
		background-color: #1de9b6;
		&:hover {
			color: #1de9b6;
			background-color: #ffffff;
		}
	}
}
