.form {

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        input {
            width: 280px;
        }
        textarea {
            width: 100%;
            min-height: 150px;
            resize: none;
        }
    }


    &__input {
        color: #061e37;
        padding: 15px 20px;
        font-size: 14px;
        font-weight: 500;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid #061e37;
        &:focus::placeholder {
            color: transparent;
        }
        &::placeholder {
            color: #061e37;
            font-size: 14px;
            font-weight: 500;
        }

    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__agree {
        input {
            display: none;
        }
        input:checked + label {
            &::before {
                background-color: #061e37;
            }
        }
        label {
            display: flex;
            align-items: center;
            &::before {
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                border: 1px solid #061e37;
                border-radius: 3px;
                background-color: transparent;
                margin-right: 10px;
                transition: all 0.3s;
            }
        }
    }

    &__button {
    }
}