.menu {
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		&:not(:last-child) {
			margin-right: 50px;
		}
	}
	&__link {
			font-size: 15px;
			font-weight: 600;
			line-height: 1.67;
			color: #ffffff;
			transition: all 0.3s ease;
			&:hover {
				color: #061e37;
			}
	}
}