.team {
    padding: 100px 0 70px; 
    &__container {
        max-width: 645px;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__subtitle {
        margin-bottom: 100px;
    }
    &__photo-slider {
        margin-bottom: 60px;
    }
}


