.testimonials-slider {
	
	position: relative;
	&__container {
		max-height: 450px;
		overflow: hidden;
	}
	&__wrapper {
		
	}
	&__item {
		display: flex;
		align-items: center;
	}
	&__img {
		margin-right: 50px;
	}
	&__body {
		max-width: 650px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		background-color: #ffffff;
		padding: 30px;
	}
	&__name {
		color: #061e37;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	&__text {
		color: #78909c;
		font-size: 15px;
		font-style: italic;
		line-height: 25px;
	}
}

.testimonials-slider-next {
	position: absolute;
	z-index: 100;
	bottom: -50px;
	right: 313px;
	color: #ffffff;
	background-color: transparent;
	font-size: 45px;
	span {
		font-size: 45px;
	}
}
.testimonials-slider-prev {
	position: absolute;
	z-index: 100;
	top: -40px;
	right: 313px;
	color: #ffffff;
	background-color: transparent;
	span {
		font-size: 45px;
	}
}
