.testimonials {
	background: linear-gradient(-53deg, rgba(#00b8d4, 0.95) 0%, rgba(#1de9b6, 0.95) 100%), url('../img/testimonials-bg.jpg') center / cover no-repeat;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__content {
		padding: 160px 20px 160px 0;
		max-width: 535px;
	}
	&__title {
		color: #ffffff;
		font-size: 45px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	&__text {
		color: #ffffff;
		line-height: 25px;
		margin-bottom: 75px;
	}

	@media (max-width: $xl) {
		padding-bottom: 100px;
		&__inner {
			flex-direction: column;
		}
		&__content {
			padding: 80px 0 70px 0;
		}
	}
}

