.text-slider {
    max-width: 100%;
    overflow: hidden;

    &__wrapper {
        display: inline-flex;
        align-items: flex-start;
    }

    &__item {
        width: 100%;
    }

    &__name {
        color: #061e37;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
    }

    &__text {
        color: #90a4ae;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 25px;
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    &__link {
        color: #90a4ae;
        font-size: 20px;
        &:not(:last-child) {
            margin-right: 30px;
        }
        &:hover {
            color: darken(#90a4ae, 20);
        }
    }
}
