@import "fonts";
@import "variables";
@import "null";

.container {
	max-width: 1470px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	color: #061e37;
	font-size: 45px;
	font-weight: 600;
	text-align: center;
	span {
		display: block;
		color: #b0bec5;
		font-size: 25px;
		font-weight: 600;
		text-align: center;
		margin-top: 14px;
	}
}

.subtitle {
	color: #b0bec5;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px; 
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

@import "header";
@import "menu";
@import "logo";
@import "button";
@import "hero";
@import "easy";
@import "counts";
@import "services";
@import "testimonials";
@import "testimonials-slider";
@import "team";
@import "photo-slider";
@import "text-slider";
@import "contact";
@import "form";
@import "footer";
